{erl_opts, [debug_info]}.
{deps, [
  {
    cowboy, 
    ".*",
    {git, "https://github.com/extend/cowboy.git", {tag, "2.9.0"}}
  },

  % other dependencies
  {
    mochijson2,
    ".*",
    {git, "https://github.com/tel/mochijson2.git", {tag, "2.3.2"}}
  },
  {amqp_client, "3.5.6"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [websocket_example]}
]}.
